/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.ttf"); }

/* Coolors Exported Palette - coolors.co/f4d06f-ff8811-9dd9d2-fff8f0-392f5a */
/* HSL */
/* RGB */
body {
  background-color: #392f5a;
  color: white; }

header {
  text-align: center;
  background-color: #392f5a;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  font: 60px/60px "Roboto-Thin", sans-serif; }
  header p {
    font-size: 30px;
    line-height: 40px; }
  header .icon-bar {
    background: url("../img/git.svg") no-repeat center top;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  @media screen and (max-width: 800px) {
    header {
      text-align: left; } }

section {
  max-width: 1400px;
  margin: 0 auto; }

.items {
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
  grid-gap: 10px; }
  .items .item {
    background: url("../img/ROTOR.svg"), -webkit-gradient(linear, left top, left bottom, from(gray), to(gray));
    background: url("../img/ROTOR.svg"), -webkit-linear-gradient(gray, gray);
    background: url("../img/ROTOR.svg"), -o-linear-gradient(gray, gray);
    background: url("../img/ROTOR.svg"), linear-gradient(gray, gray);
    -webkit-background-size: 100% auto;
            background-size: 100% auto; }
    .items .item img {
      max-width: 100%; }
  @media screen and (max-width: 940px) {
    .items {
      grid-template-columns: repeat(auto-fill, 250px);
      grid-auto-rows: 250px;
      grid-gap: 10px; } }
  @media screen and (max-width: 800px) {
    .items {
      width: 100vw;
      background-color: black;
      grid-gap: 0.5vw;
      grid-template-columns: repeat(3, 33vw);
      grid-auto-rows: 33vw; } }
