#menu {
    position: fixed;
    z-index: 70;
    display: flex;
    width: 100%;
    li {
        margin: 10px;
        transition: all .2s ease-in-out;
        transform-origin: 50% 50%;
        &:hover {
            transform: scale(1.5);
        }
    }
    a {
        text-decoration: none;
        padding: 5px;
        display: block;
        background-color: lightgrey;
        border-radius: 5px;
    }
}